<div class="detail-section">
    <div class="detail-fluid">
        <img src="{{product.imageUrl}}" class="detail-img">
        <p style="margin-top: 100px;">{{product.name}}</p>
        <div class="price">{{product.unitPrice | currency: 'USD'}}</div>
        <button (click)="addToCart(product)" class="btn btn-primary btn-sm">Add to cart</button>
        <hr>
        <h4>Description</h4>
        <p>{{product.description}}</p>
        <a routerLink="/products" class="mt-5">Back to Product List</a>
    </div>    
</div>
